<div class="panel panel-default">
  <div class="row p-3">
    <div class="col-md-6">
      <!-- [routerLink]="['../memes/', {{memeId}}]" -->
      <img
        
        routerLink="../../../memes/{{memeId}}"
        width="450"
        src="{{imageUrl}}"
      />
    </div>
    <div class="col-md-5">

      <div *ngFor="let commentId of commentIds">
        <feed-comment commentId="{{commentId}}"></feed-comment>
      </div>
      
    </div>
    <div class="col-md-1">
      <!-- Buttons - upvote/downvote/comment -->
    <div class="col-md-1" id="buttons-col">
      <div id="upvote-button" class="row">
        <input 
        type="image" 
        src="https://i.ibb.co/1f0Vpm2/arrow-up.png"
        height="50"
        class="button"
        (click)="upvoteMethod()"/>
      </div>
      <div id="downvote-button" class="row">
        <input 
        type="image" 
        src="https://i.ibb.co/xLN283n/arrow-down.png"
        height="50"
        class="button"
        (click)="downvoteMethod()"/>
      </div>
      <div id="comment-button" class="row">
        <input 
        type="image" 
        src="https://i.ibb.co/qp19KYP/comment-button.png"
        height="50"
        class="button"
        (click)="addCommentMethod()"/>
      </div>
    </div>
  </div>
</div>
