<div class="panel panel-default" > 
  <div class="row p-3">
    <div class="col-md-6">
      <img width="450" src="https://ichef.bbci.co.uk/images/ic/704xn/p072ms6r.jpg" />
    </div>
    <div class="col-md-5">
      <feed-comment></feed-comment>
      <feed-comment></feed-comment>
      <feed-comment></feed-comment>
      <feed-comment></feed-comment>
      <div class="row">
        <div class="col-md-2 px-4">
          <img class="justify-right" height="65" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvbLYColuAg_XtboZLoetQitFYt0pboFbc8d2T4KzblsH8_HaZvfdkwT-tGOCHrAo-GeQ&usqp=CAU" />
        </div>
        <div class="col-md-10 px-5">
          <label>joe_bob_fake</label>
          <p>wow I can really relate</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 px-4">
          <img height="65" src="https://www.minnesotangos.org/sites/default/files/Allie%20Baker%20Round_1.png" />
        </div>
        <div class="col-md-10 px-5">
          <label>another_loser</label>
          <p>BURN THE HOUSE DOWN</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 px-4">
          <img height="65" src="https://image.flaticon.com/icons/png/512/61/61205.png" />
        </div>
        <div class="col-md-10 px-5">
          <label>who_am_i</label>
          <input type="text" class="form-control" placeholder="Comment" id="usr">
        </div>
      </div>
    </div>
    <div class="col-md-1" >
      <div class="row align-items-end pt-5"></div>
      <div class="row align-items-end pt-5"></div>
      <div class="row align-items-end pt-5">
        <a href="#"><img height="50" src="https://i.ibb.co/1f0Vpm2/arrow-up.png" /></a>
      </div>
      <div class="row align-items-end pt-2">
        <a href="#"><img height="50" src="https://i.ibb.co/xLN283n/arrow-down.png" /></a>
      </div>
      <div class="row align-items-end pt-2">
        <a href="#"><img height="50" src="https://i.ibb.co/qp19KYP/comment-button.png" /></a>
      </div>
    </div>
  </div>
</div>