<p>&nbsp;</p>
<table
  style="width: 100%; border-collapse: collapse; border-color: black"
  border="2"
>
  <tbody>
    <tr>
      <td style="width: 100%">
        <p>Username: {{ userName }}</p>
        <p>Image:</p>
        <img
          src="{{ imageUrl }}"
          width="500"
          height="500"
          style="border: 5px solid black"
        />
        <p>
          Caption: <var>{{ caption }}</var>
        </p>
        <button type="button">Upvote</button>
        <button type="button">Downvote</button>
        <button type="button">Flag</button>
        <button type="button">Report</button>
      </td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
